<!-- do  articles exist? -->
{{#if dbArticle}}
<!-- they do -->

	{{>home-partial}} 
{{else}}
<!-- they do not -->
    <p class="homeParagraph">Can't find any article, please scrape it</a></p>
{{/if}}




